python-dotenv==0.14.0
django==3.1.2
discord.py[voice]==1.5.0
python-magic==0.4.18
psycopg2-binary==2.8.6
django-crispy-forms==1.9.2
django-extensions==3.0.9
django-cleanup==5.1.0
celery==5.0.0
redis==3.5.3
django-environ==0.4.5
whitenoise==5.2.0

git+https://github.com/nficano/pytube.git@eec6f6481e6b68840142c94d464d00cbacfcd6aa