python-dotenv==0.15.0
django==3.1.7
discord.py[voice]==1.6.0
djangorestframework==3.12.2
djangorestframework-simplejwt==4.6.0
drf-spectacular==0.13.2
pyyaml==5.4.1
uritemplate==3.0.1
python-magic==0.4.22
psycopg2-binary==2.8.6
django-crispy-forms==1.11.1
django-extensions==3.1.1
django-cleanup==5.1.0
redis==3.5.3
django-environ==0.4.5
whitenoise==5.2.0
django-colorfield==0.4.1
pytube==10.5.3
django-cors-headers==3.7.0

pytest-django==4.1.0
libfaketime==2.0.0
# pytest-libfaketime==0.1.2
# of if using pycharm set this environmental variable after installing libfaketime:
# LD_PRELOAD=<project_root>/venv/lib/python3.8/site-packages/libfaketime/vendor/libfaketime/src/libfaketime.so.1
