
.sound-card-wrapper {
    height: 100px;
}

.sound-card {
    cursor: pointer;
    width: 100%;
    height: 100%;
    text-align: center!important;
    background-color: #353532 !important;
}

.sound-card .category {
    width:100%;
    height: 25px;
    font-weight: bold;
}

.sound-name {
    position:absolute;
    bottom:0;
    right:0;
    left:0;
}

.navbar-dark {
    background-color: #353532 !important;
}

.dark-form .control-group {
    margin-top: 1.5rem;
}

body {
    background-color: #1d1d1f !important;
    color: #fff;
}