{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col"><h2>Dbot Sound board</h2></div>
</div>
<div class="row mt-4">
    <div class="col-lg-3 col-md-5 d-none d-xl-block" style="font-weight: 600">
        <form id="clip-uploader" method="post" enctype="multipart/form-data" class="dark-form">
            <div class="row">
                <div class="col">
                    {% csrf_token %}
                    {{ form|crispy }}
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <button id="upload-submit" class="btn btn-primary" type="submit" name="submit">Submit</button>
                    <button id="upload-preview" class="btn btn-info" type="submit" name="preview">Preview</button>
                </div>
            </div>
        </form>
        <div id="preview-audio"></div>
    </div>
    <div class="col-xl-9 col-sm-12">
        <div class="row mb-3">
            <div class="col">
                <a class="btn btn-primary" data-toggle="collapse" href="#collapse-form" role="button"
                   aria-expanded="false" aria-controls="collapseExample">
                    Show/Hide filters
                </a>
            </div>
        </div>
        <div class="row collapse" id="collapse-form">
            <form method="get">
                <div class="col">
                    {{ filter_form|crispy }}
                </div>
                <div class="col mb-4">
                    <input type="submit" class="btn btn-secondary" value="Filter">
                </div>
            </form>
        </div>
        <form action="{% url 'api:play_sound' %}" method="post" id="soundboard">
        <div class="row">
            {% csrf_token %}
            <div class="col">
                <div class="d-inline-block" id="audio-player"></div>
                <div class="d-inline-block">
                    <input id="override-sound" type="checkbox" name="override" value="1">
                    <label for="override-sound">Override current sound</label>
                    <input id="browser-sound" type="checkbox" name="browser" value="1">
                    <label for="browser-sound">Play sound only in browser</label>
                </div>
            </div>

        </div>
        <div class="row">
            {% for sound in sounds %}
                <div class="col-xl-2 col-lg-2 col-3 mt-3 sound-card-wrapper" style="height:100px;">
                    <div class="bg-primary sound-card" data-value="{{sound.id}}" data-url="{% url 'api:sound_effect_audio' sound.id %}">
                        {% for category in sound.categories.all|slice:3 %}
                            <div class="category" style="background-color:{{category.color_code}};">
                                <span style="color:{{category.text_color_code}}">{{category.name}}</span>
                            </div>
                        {% endfor %}
                        <div class="pt-2 pb-1 text-center sound-name">
                            <b style="color:white;">{{sound.clean_name}}</b>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        </form>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_head %}
<script type="text/javascript">

    $(document).ready(function(){
        $("#upload-preview").click(function(e){
            e.preventDefault();
            console.log("HEP!")
            var form_data = $("#clip-uploader").serializeArray();
            form_data.push({"name": "preview", "value": ""})
            $.ajax({
                url: "",
                type: "POST",
                cache: false,
                data: form_data,
                xhrFields:{
                    responseType: 'blob'
                },
                success: function(data) {
                    console.log(typeof data)
                    console.log(data)
                    var url = window.URL.createObjectURL(data);
                    var html = `
                    <audio controls autoplay controlsList="nodownload">
                        <source src="${url}">
                    </audio>
                    `
                    $("#preview-audio").html(html);
                }
            });
        });

        $("#soundboard .sound-card").click(function(e){
            e.preventDefault();
            var only_browser = $("#browser-sound").is(":checked");
            if(only_browser){
                var url = $(this).attr("data-url");
                var html = `
                <audio controls autoplay controlsList="nodownload">
                    <source src="${url}">
                </audio>
                `
                $("#audio-player").html(html);
            }else{
                let data = {
                    "override": $("#override-sound").is(":checked"),
                    "sound_effect_id": $(this).attr("data-value"),
                    "csrfmiddlewaretoken": $('#soundboard input[name="csrfmiddlewaretoken"]').val()
                };
                console.log(data);
                $.ajax({
                    type: "POST",
                    url: "{% url 'api:play_sound' %}",
                    data: data,
                    success: function() {
                        console.log("Success")
                    },
                    error: function() {
                        console.log("Error")
                    }
                });
            }
        });
    });
</script>
{% endblock %}
