{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col"><h2>Dbot Sound board</h2></div>
</div>
<div class="row mt-4">
    <div class="col-lg-3 col-md-5 col-sm-6">
    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col">
                {% csrf_token %}
                {{ form|crispy }}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <input type="submit" value="Submit">
            </div>
        </div>
    </form>
    </div>
    <div class="col-lg-9 col-md-7 col-sm-6">
        <div class="row">
            <form method="get">
                <div class="col">
                    {{ filter_form|crispy }}
                </div>
                <div class="col mb-4">
                    <input type="submit" class="btn btn-secondary" value="Filter">
                </div>
            </form>
        </div>
        <form action="{% url 'play_sound' %}" method="post" id="soundboard">
        <div class="row">
            {% csrf_token %}
            <div class="col-12">
                <input id="override-sound" type="checkbox" name="override_sound" value="1">
                <label for="override-sound">Override current sound</label>
            </div>

        </div>
        <div class="row">
            {% for sound in sounds %}
                <div class="col-xl-3 col-lg-4 col-sm-12 col-xs-12 mt-3" style="height:125px;">
                    <div class="w-100 h-100 bg-primary text-center play-button" data-value="{{sound.id}}" style="cursor:pointer;">
                        {% for category in sound.categories.all|slice:3 %}
                            <div class="w-100" style="height: 25px; background-color:{{category.color}};">
                                <span>{{category.name}}</span>
                            </div>
                        {% endfor %}
                        <div class="pt-2 pb-1 text-center" style="position:absolute; bottom:0; right:0; left:0;">
                            <b style="font-size: 1.2em; color:white;">{{sound.name}}</b>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        </form>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_head %}
<script>
    $(document).ready(function(){
        $("#soundboard .play-button").click(function(e){
            e.preventDefault()
            data = $("#soundboard").serializeArray()
            data.push({"name": "sound_id", "value": $(this).attr("data-value")})
            console.log(data)
            $.ajax({
                type: "POST",
                url: "{% url 'play_sound' %}",
                data: data,
                success: function(response) {
                    console.log("Success")
                },
                error: function(response) {
                    console.log("Error")
                }
            });
        });
    });
</script>
{% endblock %}
