<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>STT Feed</title>
</head>
<body>
    <textarea id="stt-feed" cols="100" rows="20"></textarea><br>
    {{ stt_token|json_script:"stt-token" }}
    <script>
        const sttToken = JSON.parse(document.getElementById('stt-token').textContent);
        const feed = document.querySelector('#stt-feed');

        const sttSocket = new WebSocket(
            'wss://'
            + window.location.host
            + '/ws/stt/feed/'
            + sttToken
            + '/'
        );

        sttSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            feed.value += (`${data.type} - ${data.text} \n`);
            feed.scrollTop = feed.scrollHeight;
        };

        sttSocket.onclose = function(e) {
            console.error('Stt feed closed unexpectedly');
            console.error(e)
        };

    </script>
</body>
</html>